@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: PP Supply Mono;
  src: url('../fonts/PPSupplyMono-Light.woff2') format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Helvetica Now Display;
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent: #f47920;
  --primary: #151515;
  --white: white;
  --light-green: #ebf0ed;
  --gray: #e0e0e0;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

body {
  background-color: var(--accent);
  color: var(--primary);
  font-family: Helvetica Now Display, Arial, sans-serif;
  line-height: 1;
  overflow-y: auto;
}

h1 {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5em;
  font-weight: 700;
  line-height: 100%;
}

p {
  margin-bottom: 0;
}

.page-wrap {
  background-color: var(--accent);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.content-wrap {
  width: 100%;
}

.section_hero {
  background-image: url('../images/home_bg_1.avif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

.section_hero.is-services {
  background-image: url('../images/Our-services-bg_1.avif');
}

.background {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
}

.navbar {
  z-index: 998;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: fixed;
  inset: 1.5em 2em auto;
}

.is-link {
  color: var(--white);
}

.is-logo {
  width: 6.25rem;
}

.is-menu {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  background-color: #0000;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.is-label {
  font-size: .875rem;
  font-weight: 500;
  display: block;
}

.global {
  display: contents;
  position: fixed;
}

.menu-icon {
  border: 1px solid var(--white);
  border-radius: 1000px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding-left: 13px;
  padding-right: 13px;
  display: block;
  position: relative;
}

.menu-icon_bar {
  background-color: var(--white);
  width: 1.313rem;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.menu-icon_bar.is-2 {
  bottom: 42%;
}

.menu-icon_bar.is-1 {
  top: 42%;
}

.viewport {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  overflow: scroll;
}

.nav-inner {
  z-index: 0;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  position: fixed;
  inset: 7.625rem 0% auto;
}

.links {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  flex-flow: column;
  flex: 1;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.link-item {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  height: 3.9em;
  display: flex;
  overflow: hidden;
}

.navlink_label {
  letter-spacing: -.0075em;
  font-size: 3.25em;
  font-weight: 700;
  line-height: 1.3;
  display: block;
}

.navlink {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  transform: translate(-3.6em);
}

.navlink.is-locale {
  margin-left: 0;
}

.navlink_icon {
  width: 2.8em;
}

.icon--inner {
  color: var(--accent);
}

.hero-content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  width: 100%;
  display: grid;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.hero-content_left {
  flex: 1;
}

.hero-content_right {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.content_right-row {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.body-xl {
  color: var(--white);
  font-size: 3.5em;
  font-weight: 700;
  line-height: 100%;
  display: block;
}

.body-xl.m-l-s {
  padding-left: 1em;
}

.body-xl.is-black {
  color: var(--primary);
}

.body-xl.is-black.is-center {
  text-align: center;
}

.body-xl.height-90 {
  line-height: 90%;
}

.body-xl.is-o-10 {
  opacity: .1;
  color: var(--primary);
}

.body-xl.is-active {
  opacity: 1;
  color: var(--primary);
}

.eyebrow-l {
  opacity: 0;
  color: var(--white);
  text-transform: uppercase;
  font-family: PP Supply Mono, Tahoma, sans-serif;
  font-size: .938em;
  font-weight: 300;
  line-height: 120%;
  display: block;
}

.eyebrow-l.m-l-s {
  padding-left: 1em;
}

.hero-bottom {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  position: absolute;
  inset: auto 2em 1.5em;
}

.card {
  opacity: 0;
  border-radius: 4px;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  height: 12em;
  padding: .5em;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card_bg {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.navlink-locale {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  color: #b55109;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.navlink-locale.is-locale {
  margin-left: 0;
}

.navlink-locale.is-active {
  color: var(--primary);
}

.navlink-social {
  grid-column-gap: .8em;
  grid-row-gap: .8em;
  color: #b55109;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  display: flex;
}

.navlink-social.is-locale {
  margin-left: 0;
}

.navlink-social.is-active {
  color: var(--primary);
}

.social-logo {
  width: 2.8em;
}

.page-scroll {
  width: 100%;
}

.button-sm {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: var(--white);
  text-transform: uppercase;
  border-radius: 2px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 1.75em;
  padding: .25em;
  font-size: .75em;
  font-weight: 700;
  display: flex;
  position: relative;
  overflow: hidden;
}

.is-arrow {
  width: .5em;
}

.button-sm_inner {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  position: absolute;
  transform: translate(.2em);
}

.button-sm_inner-left {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section_about {
  grid-column-gap: 16em;
  grid-row-gap: 16em;
  background-color: var(--white);
  flex-flow: column;
  width: 100%;
  padding: 2em 2em 16em;
  display: flex;
  position: relative;
}

.section_about.is-grey {
  background-color: var(--light-green);
}

.intro {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-right: 7.188em;
  display: block;
}

.intro.p-top {
  border: 1px #000;
  border-top-style: solid;
  padding-top: 2em;
}

.eyebrows {
  grid-column-gap: .25em;
  grid-row-gap: .25em;
  float: left;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 3em;
  padding-top: .25em;
  display: flex;
}

.eyebrows.is-top {
  position: absolute;
  inset: 0% auto auto 0%;
}

.is-eyebrow {
  border: 1px solid var(--primary);
  border-radius: .25em;
  justify-content: center;
  align-items: center;
  padding: .25em;
  display: flex;
}

.is-eyebrow.is-black {
  background-color: var(--primary);
}

.eyebrow-s {
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 700;
  line-height: .9;
}

.intro-text {
  flex-flow: row;
  display: inline-flex;
}

.content {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.content_column {
  flex: 1;
}

.content_column.align-r {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.image-wrapper {
  border-radius: .5em;
  position: relative;
  overflow: hidden;
}

.stats {
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.stats-card {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  border-top: 1px solid #0000004d;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
  display: flex;
}

.is-icon {
  height: 3em;
}

.is-icon.o-50 {
  opacity: .5;
}

.is-stat {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  flex-flow: column;
  display: flex;
}

.stat_number {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
  display: block;
}

.eyebrow-m {
  text-transform: uppercase;
  font-family: PP Supply Mono, Tahoma, sans-serif;
  font-size: .813em;
  font-weight: 300;
  line-height: 1;
  display: block;
}

.eyebrow-m.o-60,
.eyebrow-m.is-o-60 {
  opacity: .6;
}

.text-cta {
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  flex-flow: column;
  width: 50%;
  padding-left: .5em;
  display: flex;
}

.text-cta.h100 {
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.body-m {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.1;
}

.image-p {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  display: block;
  transform: translate(0);
}

.image-p.is-square {
  aspect-ratio: 1;
}

.button-md {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: var(--primary);
  text-transform: uppercase;
  border-radius: .5em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 23.25em;
  padding: .5em;
  font-weight: 700;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-md.is-a {
  position: absolute;
  inset: auto 0% 0%;
}

.button-md_label {
  color: var(--white);
  font-size: 2.5em;
  line-height: .9;
}

.button-md_inner {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.is-arrow-square {
  width: 2em;
  height: 2em;
}

.is-arrow-square.is-left {
  position: absolute;
  left: -2.5em;
}

.button-md_inner-left {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section_services {
  grid-column-gap: 16em;
  grid-row-gap: 16em;
  background-color: var(--light-green);
  flex-flow: column;
  width: 100%;
  padding: 2em 2em 16em;
  display: flex;
  position: relative;
}

.section_services.is-grey {
  background-color: var(--light-green);
}

.is-grid {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.service-card {
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: .5em;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2em;
  display: flex;
  overflow: hidden;
}

.card-inner {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.service-icon_icon {
  width: 3.5em;
}

.body-l {
  letter-spacing: -.025em;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

.services-viewer {
  border-radius: .5em;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: relative;
  overflow: hidden;
}

.body-s {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
}

.body-s.is-g-60 {
  opacity: .6;
  color: var(--light-green);
}

.rect {
  color: var(--accent);
}

.eyebrow-wrap {
  padding-top: .7em;
  overflow: hidden;
}

.hero-bottom_cards {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.hero-bottom_cards-wrapper {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  width: 100%;
}

.h1 {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.is-h1-span-wrap {
  padding-bottom: .125em;
  overflow: hidden;
}

.is-h1-span {
  opacity: 0;
  line-height: 90%;
  display: block;
}

.service-image {
  z-index: 0;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0%;
}

.section_minerals {
  background-color: var(--white);
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.minerals-inner {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100vh;
  padding: 2em;
  display: grid;
  position: sticky;
  top: 0;
}

.minerals_left {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.minerals_right {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  display: flex;
  position: relative;
}

.minerals_content {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
}

.circles {
  width: 100%;
  height: 100%;
}

.circle.is-1 {
  z-index: 0;
  opacity: .3;
  position: absolute;
}

.circle.is-2 {
  z-index: 1;
  opacity: 1;
  position: absolute;
}

.minerals-stage {
  width: 100%;
  height: 240vh;
  display: block;
  position: relative;
  overflow: visible;
}

.minerals-list {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  display: flex;
}

.minerals-names {
  flex-flow: column;
  display: flex;
}

.eyebrow-wrapper {
  padding-top: 0;
  overflow: hidden;
}

.eyebrow-wrapper.is-a {
  position: absolute;
  top: 50%;
}

.minerals-slider {
  aspect-ratio: 1;
  border-radius: 100%;
  width: 95%;
  overflow: hidden;
}

.minerals-slider_inner {
  width: 500%;
  height: 100%;
  display: flex;
}

.minerals-slider_slide {
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.minerals-slider_img {
  width: 40%;
}

.minerals-slider_overlay {
  z-index: 2;
  aspect-ratio: 1;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff0 42%, #fff 69% 70%);
  border-radius: 100%;
  width: 95%;
  position: absolute;
}

.eyebrow-line {
  display: flex;
  overflow: hidden;
}

.eyebrow-slider {
  height: .813em;
}

.section_safety {
  grid-column-gap: 16em;
  grid-row-gap: 16em;
  background-color: var(--white);
  flex-flow: column;
  width: 100%;
  padding: 2em 2em 16em;
  display: flex;
  position: relative;
}

.section_safety.is-grey {
  background-color: var(--light-green);
}

.section_technology {
  grid-column-gap: 16em;
  grid-row-gap: 16em;
  background-color: var(--light-green);
  flex-flow: column;
  width: 100%;
  padding: 2em 2em 16em;
  display: flex;
  position: relative;
}

.section_technology.is-grey {
  background-color: var(--light-green);
}

.title-big {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.body-xxl {
  color: var(--primary);
  text-align: center;
  letter-spacing: -.025em;
  font-size: 7em;
  font-weight: 700;
  line-height: 80%;
  display: block;
}

.body-xxl.m-l-s {
  padding-left: 1em;
}

.body-xxl.is-black {
  color: var(--primary);
}

.body-xxl.height-90 {
  line-height: 90%;
}

.body-xxl.is-o-10 {
  opacity: .1;
  color: var(--primary);
}

.body-xxl.is-active {
  opacity: 1;
  color: var(--primary);
}

.machines-grid {
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.machine-card {
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  flex-flow: column;
  display: flex;
}

.machine-card_content {
  border-radius: .5em;
  position: relative;
  overflow: hidden;
}

.machine-card_inner {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 4em);
  display: flex;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
}

.machine-card_bg {
  z-index: 0;
}

.text-button {
  grid-column-gap: 6em;
  grid-row-gap: 6em;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10.875em;
  padding-right: 10.875em;
}

.site-grid {
  z-index: 999;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  opacity: .27;
  pointer-events: none;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  height: 100vh;
  padding-left: 2em;
  padding-right: 2em;
  display: none;
  position: fixed;
  inset: 0%;
}

.grid-column {
  background-color: #ff0000e6;
  height: 100%;
}

.button-lg {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  background-color: var(--primary);
  text-transform: uppercase;
  border-radius: .5em;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: none;
  padding: .5em;
  font-weight: 700;
  display: flex;
  position: relative;
  overflow: hidden;
}

.button-lg.is-a {
  position: absolute;
  inset: auto 0% 0%;
}

.is-button-bg {
  color: var(--accent);
}

.loader {
  z-index: 999;
  background-color: var(--accent);
  position: fixed;
  inset: 0%;
}

.loader_inner {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.loader_mask {
  width: 50%;
  height: 50%;
}

.loader_logo {
  width: 10.063em;
  height: 2.625em;
  display: block;
}

.loader-logo-path {
  transform: translate(0);
}

.loader-logo_wrap {
  background-color: var(--primary);
  border-radius: .55em;
  justify-content: flex-start;
  align-items: center;
  width: 10.063em;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.logo-inner {
  display: flex;
}

.is-logo-icon {
  background-color: var(--primary);
  border-radius: .5em;
  width: 2.813em;
  height: 2.625em;
  position: relative;
}

.logo-icon {
  width: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-logo-text {
  border: .188em solid var(--primary);
  background-color: var(--accent);
  border-radius: .5em;
  width: 7.438em;
  height: 2.625em;
  margin-left: -.188em;
  position: relative;
}

.logo-text {
  width: 6.125em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#w-node-_33e34690-9048-f1cc-5996-0de4203dfa95-3e31b7cd {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-d266290a-7a8e-7d09-a7fa-5980aea0fe37-3e31b7cd {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_42ea3a62-822e-6ecd-fc2c-be4898e5c13b-3e31b7cd {
  order: 0;
  grid-area: 1 / 8 / 2 / 13;
}

#w-node-_42ea3a62-822e-6ecd-fc2c-be4898e5c13c-3e31b7cd {
  grid-area: 1 / 8 / 2 / 13;
}

#w-node-_0717a256-7463-77c0-e26d-39c854e08d20-3e31b7cd {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_0717a256-7463-77c0-e26d-39c854e08d29-3e31b7cd {
  grid-area: span 1 / span 6 / span 1 / span 6;
}

#w-node-_0717a256-7463-77c0-e26d-39c854e08d2c-3e31b7cd {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-_33e34690-9048-f1cc-5996-0de4203dfa95-9ee752f7 {
  grid-area: span 1 / span 7 / span 1 / span 7;
}

#w-node-_71f0f5f4-69d5-22f9-d97f-4036c42db11c-9ee752f7 {
  grid-area: span 1 / span 5 / span 1 / span 5;
}

#w-node-_856ffc81-c0d5-5e76-e729-7b745be6dc6e-9ee752f7 {
  order: 0;
  grid-area: 1 / 8 / 2 / 13;
}

#w-node-c93c8f4e-7912-3b01-975e-897eec858b94-9ee752f7 {
  grid-area: 1 / 8 / 2 / 13;
}


@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Supply Mono';
  src: url('../fonts/PPSupplyMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}