.w-webflow-badge {
  display: none !important;
  visibility: hidden;
}

.page-wrap {
  overflow: hidden;
}

.service-icon,
.icon-wrap {
  mix-blend-mode: multiply;
}

.navlink_label {
  white-space: nowrap;
}

.scroll-item>.body-xl {
  transition: all 0.1s ease-in-out;
}

.eyebrows.is-white .is-eyebrow {
  border-color: var(--white);
  color: var(--white);
}

.eyebrows.is-white .is-eyebrow:nth-of-type(2) {
  background-color: var(--white);
  color: var(--black);
}

/* Transition mask overlay 
.mask-overlay {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 200vw;
  background: transparent;
  overflow: hidden;
  left: 0;
  top: 0;
  display: none;
}

.mask-overlay.is-active {
  display: block !important;
  z-index: 2 !important;
}

.mask-overlay_wrap {
  align-items: flex-start;
}*/

.mask-overlay,
.mask-overlay.is-active {
  display: none !important
}

/* Map */
/* .region {
  fill: none;
  stroke: #444;
  transition: fill 0.3s, stroke 0.3s;
} */

.region,
.region.highlight {
  transition: all 0.5s ease-out;
}

.region.highlight {
  fill: rgba(244, 121, 32, 0.05);
  stroke: rgba(244, 121, 32, 0.50);
  z-index: 2;
}

.marker .dot {
  transition: fill 0.3s, r 0.3s;
}

.marker.highlight circle {
  fill: #FF9345;
  filter:
    drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)) drop-shadow(0 0 5px #FF8832) drop-shadow(0 0 12px #FF8832);
  r: 6;
}

.marker.highlight rect {
  fill-opacity: 0;
}

.marker,
.marker.highlight,
.marker.dimmed,
.marker.highlight rect {
  transition: all 0.5s ease-out;
  opacity: 1;
}

.marker.dimmed {
  opacity: 0;
}

.marker.highlight {
  opacity: 1;
}